<!--Header-->
<div class="toolbar container-toolbox px-3" role="banner">
    <img src="../assets/images/discovery-logo.svg" alt="Discovery Logo" class="">
    <div class="spacer"></div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary px-6 d-none d-lg-block" style="width:100%">Family</button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split d-none d-lg-block"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
        </div>

    </div>
    <span class="ml-4 d-none d-lg-block">Hi Kingdom</span>
    <a href="#" class="d-lg-none d-xl-none d-md-block">LOG OUT</a>
    <button type="button" class="btn btn-primary ml-4 d-none d-lg-block">LOG OUT</button>
    <div class="vl ml-3"></div>
    <i class="fa fa-search d-none d-lg-block ml-3" aria-hidden="true"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars d-lg-none d-xl-none d-md-block" aria-hidden="true" style="color: #004b8d !important;"></i>
    </button>
</div>
<div class="devicer "></div>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav ">
            <span class="d-lg-none d-xl-none d-md-block">Hi Kingdom</span>
            <li class="nav-item active">
                <a class="nav-link" href="#">portfolio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../page2">bank</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">medical aid</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">gap cover</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">life insurance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">investments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">car and home insurance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">vitality</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">credit card</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">reward partners</a>
            </li>
            <div class="dropdown-divider d-lg-none d-xl-none d-md-block"></div>
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle d-lg-none d-xl-none d-md-block"
                    data-toggle="dropdown" style="width:100%">
                    Family
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
           
        </ul>
    </div>
</nav>