<!--Footer-->
<footer>
    <div class="container-toolbox p-3">
        <div class="row">
            <div class="col-md-4">
                <p class="text-justify footer-heading mt-5 ">ABOUT US</p><br>
                <a href="#" class="mt-3">Our business</a><br><br>
                <a href="#" class="">Investor relations</a><br><br>
                <a href="#" class="mt-3">Sustainability</a><br><br>
                <a href="#" class="">Sponsorship</a><br><br>
                <a href="#">Investor relation</a><br><br>
            </div>
            <div class="col-md-4">
                <p class="text-justify footer-heading mt-5 ">CONTACT US</p><br>
                <select name="cars" id="cars">
                    <option value="volvo">Select company</option>
                    <option value="saab">Select company</option>
                    <option value="saab">Select company</option>
                    <option value="saab">Select company</option>
                </select>
                <br><br>
                <a href="#">Visit a Discovery Store</a>
            </div>
            <div class="col-md-4">
                <p class="text-justify footer-heading mt-5 ">JOIN DISCOVERY</p><br>
                <a href="#" style="font-size:16px">Individuals</a><br><br>
                <a href="#" style="font-size:16px">Business</a><br><br>
                <a href="#" style="font-size:16px">Financial advisors</a><br><br>
                <a href="#" style="font-size:16px">Healthcare professionals</a><br><br>


                <p class="text-justify footer-heading mt-4 ">CONNECT WITH US</p><br>
                <span> <a href="#" style="font-size:16px">Download our app</a></span> <span><a href="#" class="ml-5"
                        style="font-size:16px">Connect hub</a></span>
                <br><br>
                <div>
                    <span><a href="#" class="fa fa-facebook" id="round"></a></span>
                    <span><a href="#" class="fa fa-linkedin" id="round"></a></span>
                    <span><a href="#" class="fa fa-twitter" id="round"></a></span>
                    <span><a href="#" class="fa fa-youtube" id="round"></a></span>
                    <span><a href="#" class="fa fa-pinterest" id="round"></a></span>
                    <span><a href="#" class="fa fa-instagram" id="round"></a></span>
                </div>

            </div>
        </div>
    </div>
</footer>
<section class="bottom-footer py-3">
    <div class="container-toolbox px-3">
        <div class="row">
            <div class="col-md-5 text-white .small">
                <small> <a href="#" class="text-white">Security & fraud</a> </small> |
                <small><a href="#" class="text-white">Terms & conditions</a> </small> |
                <small> <a href="#" class="text-white">Site Map</a> </small> |
                <small> <a href="#" class="text-white">Legal</a> </small>
            </div>
            <div class="col-md-7  text-white">
                <small> Copyright 2019 Discovery Limited. Subsidiaries of Discovery Limited are authorised financial
                    services
                    providers.</small>
            </div>
        </div>
    </div>
</section>