$primary-color : #004b8d !important;
$color-gray: rgba(68, 68, 68, 0.87) !important;
$color-dark-gray: #050A0D !important;
$color-light-gray: rgba(68, 68, 68, 0.54);
$dark-blue: #013D72;
$silver: #545657;
$light-black: #292B2C;
$white: #FFFFFF;
