<app-header></app-header>
<section class="banner px-3">
    <p>Your cash back histroy</p>
</section>

<section class="mt-5 mb-5 px-3">
    <div class="container-toolbox">
        <div class="error-box p-2">
            <div class="d-flex">
                <div class="p-2 flex-fill"><img src="assets/images/alert.svg" alt="alert"></div>
                <div class="p-2 flex-fill"> An error occured while trying to process your request, we could not switch
                    you
                    to fuel cash back. Please try again later or contact us if the issue persists.</div>
                <div class="p-2 flex-fill"><img src="assets/images/Vector.png" alt="close"></div>
            </div>
        </div>
        <div class="card-1 mt-4 shadow pb-5">
            <div class="d-flex">
                <div> <img src="assets/images/efa.svg" alt="efa"></div>
                <div class="insure-funder ml-3">Switch to an Insure Funder Account</div>
            </div>
            <div class="dropdown-divider"></div>
            <p>Have your monthly fuel cash back doubled and paid directly into your Insure Funder
                Account. If you switch to the Insure Funder Account, then all fuel cash back earned by the all primary
                drivers on the plan are paid into the Insure Funder Account. </p>
            <br>
            <div class="d-flex">
                <div><input type="checkbox" name="tc"></div>
                <div><label class=" ml-3"> I have read and accept the Insure Funder Account <a href="#"
                            style="text-decoration:underline">terms and
                            conditions.</a>
                    </label>
                </div>
            </div>
            <div><button type="button" class="btn btn-primary view-drive-partners move-right px-3">SWITCH NOW</button>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-md-4">
                <label class="selector-label">Plan number</label>
                <select name="cars" id="cars">
                    <option value="volvo">24039029450</option>
                    <option value="saab">24039029450</option>
                    <option value="saab">24039029450</option>
                    <option value="saab">24039029450</option>
                </select>
            </div>

            <div class="col-md-4">
                <label class="selector-label">Primary driver</label>
                <select name="cars" id="cars">
                    <option value="volvo">Steven Malcom</option>
                    <option value="saab">Steven Malcom</option>
                    <option value="saab">Steven Malcom</option>
                    <option value="saab">Steven Malcom</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="selector-label">Fuel cash back period</label>
                <select name="cars" id="cars">
                    <option value="volvo">2020</option>
                    <option value="saab">2020</option>
                    <option value="saab">2020</option>
                    <option value="saab">2020</option>
                </select>
            </div>
        </div>
        <div class="d-flex mt-5 box">
            <div class="p-2"><img src="../assets/images/piggy-bank.svg" alt="piggy-bank"></div>
            <div class="p-2"><span class="driving-behavioral"> Total fuel cash back</span>
                <p class="gray">Last updated: 20 February 2020</p>
            </div>
            <div class="p-2 ml-auto "><span class="driving-behavioral move-right mt-1 mr-2"> R225.00 </span></div>
        </div>
    </div>
</section>
<section style="margin-top:-3rem" class="section-1 px-3 pb-5">
    <div class="container-toolbox">
        <div class="card">
            <span class="total" style="font-size: 22px;"> February 2020</span> <span
                class="current-cash-back ml-3 px-2">Current cash back</span>

            <div class="row mt-4">
                <div class="col-md-6"> <span class="projected">Project fuel cash back</span></div>
                <div class="col-md-6 "><span class=" fuel-price move-right">R125.00 </span></div>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width:38%"></div>
            </div>
            <p class="text-center visit mt-4">Projected fuel cash breakdown</p>
            <div class="container-wrapper mt-4">
                <div class="row">
                    <div class="col-md-4  light-gray text-center" style="color:#050A0D"> Qualifying cash back
                        %<br> 5%</div>
                    <div class="col-md-4 mt-2 text-center">X</div>
                    <div class="col-md-4 light-gray text-center"><span style="color:#004B8D;">Quality
                            spend</span><br><span style="color:#050A0D">R550.00</span></div>
                </div>
            </div>
            <br>
            <hr>
            <span class="total" style="font-size: 22px;"> Cash back history</span>
            <div class="row mt-4">
                <div class="col-md-6"> <span class="gray">January 2020</span></div>
                <div class="col-md-6 "><span class=" move-right gray"><span class="driving-behavioral"
                            style="color:#000000">R100.00</span> out of R100.00 maximum fuel cash back earned </span>
                </div>
            </div>
            <p class="text-center visit mt-4">Fuel cash breakdown</p>
            <div class="container-wrapper mt-4">
                <div class="row">
                    <div class="col-md-4  light-gray text-center" style="color:#050A0D"> Qualifying cash back
                        %<br> 5%</div>
                    <div class="col-md-4 mt-2 text-center">X</div>
                    <div class="col-md-4 light-gray text-center"><span style="color:#004B8D;">Vitality Drive
                            points</span><br><span style="color:#050A0D">1600</span></div>
                </div>
            </div>
        </div>

        <div class="d-flex mt-5 box-full">
            <div class="p-2"><img src="../assets/images/efa.svg" alt="piggy-bank"></div>
            <div class="p-2"><span class="driving-behavioral"> Insure Funder Account</span>
                <p class="gray">Last updated: 20 February 2020</p>
            </div>
            <div class="p-2 ml-auto "><span class="driving-behavioral move-right mt-1 mr-2"> R0.00 </span></div>
        </div>

        <div class="box-full-2  p-3">
            <div class="card bg-white shadow" style="width:100%;">
                <img src="../assets/images/info.svg"> <span class="ml-3"> You have never switched to have your cash back
                    paid into your
                    Insure Funder Account.</span>
            </div>

        </div>

    </div>
</section>
<section class="py-5">
    <div class="bg-primary py-5 px-3">
        <div class="container-toolbox">
            <div class="driving-behavioral text-white">Quick links</div>
        </div>
        <div class="container-toolbox">
            <div class="row">
                <div class="col-md-4 p-3">
                    <div class=" box-white px-3"><br>
                        <span class="text-white">View your Vitality Drive points</span> <span
                            class="bg-white float-right " id="round"> <i class="fa fa-chevron-right"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="col-md-4 p-3">
                    <div class="box-white px-3"><br>
                        <span class="text-white">Manage your policy</span> <span class="bg-white float-right "
                            id="round"> <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    </div>

                </div>
                <div class="col-md-4 p-3">
                    <div class=" box-white px-3"><br>
                        <span class="text-white">DQ Mapper</span> <span class="bg-white float-right " id="round"> <i
                                class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>