$primary-color : #004b8d !important;
$color-gray: rgba(68, 68, 68, 0.87) !important;
$color-dark-gray: #050A0D !important;
$color-light-gray: rgba(68, 68, 68, 0.54) !important;
$dark-blue: #013D72 !important;
$silver: #545657 !important;
$silver-gray:rgba(245, 245, 245, 0.7) !important;
$diamond:#dadada !important;
$light-black: #292B2C !important;
$white: #FFFFFF;
$smoke: #f5f5f5 !important;
$cream:#eee !important;
$orange: #ee7f65 !important;
$black:#000000 !important;
$sky-blue:rgba(11, 91, 164, 0.2) !important;
$purple:#8C2473 !important;
$navy:#116ECB !important;
$bluish: linear-gradient(90deg, #2D6DA4 0%, #88C3F4 100%) !important;
$bronze: linear-gradient(90deg, #C16B45 0%, #EB874C 100%)!important;
$silverish:linear-gradient(90deg, #949494 0.86%, #C3C3C3 100%) !important;
$gold:linear-gradient(270deg, #ECD05F 0%, #BB9142 106.65%)!important;
$star:linear-gradient(90deg, #B2BDCF 0%, #C3AFC8 100%) !important;
