<app-header></app-header>
<section class="section-1 pt-5 pb-5">
  <h2 class="text-center heading">Vitality Drive Dashboard</h2>
  <div class="container-toolbox pl-2 pr-2 mt-5">
    <div class="card-1 shadow-lg">
      <div class="d-flex text-white">
        <div class=""><img src="../assets/images/icon-link-insure-sensor.svg" alt="sensor" class="sensor"></div>
        <div class="text-center mt-3"><span class="h2" style="color:#ee7f65">Collect your Vitality Drive Sensor</span>
        </div>

      </div>
      <br>
      <p class="ml-3 visit visit-text">Visit your nearest Tyger Wheel & Tyre branch and install your Vitality Drive
        Sensor.</p><br>
      <a href="#" class="learn-more pb-2">LEARN MORE</a>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="d-flex">
            <div><img src="../assets/images/profile-pict.png" class="rounded-circle"></div>
            <div class="ml-3"><br> <span class="gray">Steven Malcom McDonald</span> : <span
                class="light-gray">Planholder</span> </div>
          </div>
          <img src="../assets/images/chevron-down.svg" class="ml-auto">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="d-flex">
            <div><img src="../assets/images/profile-pict.png" class="invisible"></div>
            <div class="" style="margin-left:-3rem"><br><span class="gray">Score and reward period </span> : <span
                class="light-gray">January 2020</span> </div>
          </div>
          <img src="../assets/images/chevron-down.svg" class="ml-auto">
        </div>
      </div>
    </div>

    <div class="card-2 mt-5 py-4">
      <h2 class="text-center h2-card-2">Your Vitality Drive status is <span
          style="color:#98a3a9; font-weight:500">Silver</span></h2>

      <div class="progress mt-4">
        <div class="progress-bar blue-gradient" style="width:20%">
        </div>
        <div class="progress-bar bronze-gradient" style="width:20%">
        </div>
        <div class="progress-bar silver-gradient" style="width:20%">
        </div>
        <div class="progress-bar gold-gradient" style="width:20%">
        </div>
        <div class="progress-bar diamond-gradient" style="width:20%">
        </div>
      </div>

      <div class="car-bg rounded-circle" style="margin-top:-1.7rem"><img src="../assets/images/car.svg" class="car"
          style="margin-top:0.7rem">
      </div>
      <p class="points200">200 Points to get to Gold</p>
    </div>

    <div class="card-2 mt-5 py-4">
      <h2 class="text-center h2-card-2">Your fuel cash back <img src="../assets/images/more-information.svg"> <br><span
          class="light-gray text-center">Last Updated : 20 January 2020</span></h2>
      <div class="row">
        <div class="col-md-6"> <span class="projected">Total Vitality Drive points</span></div>
        <div class="col-md-6 "><span class=" fuel-price move-right">R125.00 </span></div>
      </div>
      <div class="progress">
        <div class="progress-bar" style="width:38%"></div>
      </div>
      <span class="light-gray">R0.00</span><span class="float-right light-gray">R400.00 </span>

      <div class="row mt-3">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card-2 card1-blue ">
            <span class="gray">Total Vitality drive points</span>
            <br><br>
            <div class=" fuel-price">900 / 1 000</div>
            <a href="#" class="invisible">View spend</a>
          </div>
        </div>
        <div class=" col-lg-4 col-md-6 col-sm-12">
          <div class="card-2 card2-grey ">
            <span class="gray">Qualifying spend</span> <span class="float-right"> <img
                src="../assets/images/more-information.svg"></span>
            <br><br>
            <div class=" fuel-price">R400.00</div>
            <a href="#">View spend</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card-2 card2-grey ">
            <span class="gray">Qualifying cash back %</span> <span class="float-right"> <img
                src="../assets/images/more-information.svg"></span>
            <br><br>
            <div class=" fuel-price">5%</div>
            <a href="#" class="invisible">View spend</a>
          </div>
        </div>
        <a href="#" class="ml-4">View cah back histroy</a>
      </div>
    </div>
  </div>
</section>


<section class="pt-5 pb-5 px-3">
  <h2 class="text-center h2-card-2">Vitality Drive Points</h2>
  <div class="container-toolbox pl-2 pr-2 mt-5">
    <div class="row">
      <div class="col-md-6"> <span class="projected" style="font-size:26px">Total Vitality Drive points</span></div>
      <div class="col-md-6 "><span class=" fuel-price move-right" style="font-size:26px">900 / 1 600 </span></div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-success" style="width:40%">
      </div>
      <div class="progress-bar bg-warning" style="width:10%">
      </div>
      <div class="progress-bar bg-danger" style="width:20%">
      </div>
    </div>
    <span class="light-gray">0</span><span class="float-right light-gray">1 600 </span>
    <div class="dropdown-divider mt-3"></div>

    <h2 class="text-center h2-card-2 mt-4">Points breakpoint <img src="../assets/images/more-information.svg"></h2>
    <div class="container-wrapper">
      <div class="row mt-5">
        <div class="col-md-6"> <span class="total">Total driving behavior points</span></div>
        <div class="col-md-6 "><span class="total move-right">500 / 1 100 </span></div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6">
          <span class="gray">Driving profile <img src="../assets/images/more-information.svg" width="15px"></span> <span
            class="float-right dark-gray">300/750 </span>
          <div class="progress mt-2">
            <div class="progress-bar" style="width:38%"></div>
          </div>
          <span class="light-gray">0</span><span class="float-right light-gray">750 </span>
        </div>
        <div class="col-md-6">
          <span class="gray">Night time driving points <img src="../assets/images/more-information.svg"
              width="15px"></span> <span class="float-right dark-gray">50/150 </span>
          <div class="progress mt-2">
            <div class="progress-bar" style="width:38%"></div>
          </div>
          <span class="light-gray">0</span><span class="float-right light-gray">150 </span>

        </div>

        <div class="col-md-6 mt-3">
          <span class="gray">Distance points<img src="../assets/images/more-information.svg" width="15px"></span> <span
            class="float-right dark-gray">50/100 </span>
          <div class="progress mt-2">
            <div class="progress-bar" style="width:38%"></div>
          </div>
          <span class="light-gray">0</span><span class="float-right light-gray">100 </span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="gray">Claim-free years <img src="../assets/images/more-information.svg" width="15px"></span>
          <span class="float-right dark-gray">100/100 </span>
          <div class="progress mt-2">
            <div class="progress-bar" style="width:100%"></div>
          </div>
          <span class="light-gray">0</span><span class="float-right light-gray">150 </span>

        </div>
      </div>
      <div class="dropdown-divider mt-4"></div>

      <div class="row mt-4">
        <div class="col-md-6"> <span class="total">Total vehicle saftey points</span></div>
        <div class="col-md-6 "><span class="total move-right" style="color: #5FB957 !important;">150 / 150 </span></div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6">
          <span class="gray">Passing the Tyger Wheel & Tyre Annual<br> Multipoint Check</span> <span
            class="float-right dark-gray" style="color: #5FB957 !important;">100/100 </span>
          <div class="progress" style="margin-top:0.8rem;">
            <div class="progress-bar bg-warning" style="width:100%"></div>
          </div>
          <span class="light-gray">0</span><span class="float-right light-gray">100 </span>
          <div style="color: #CE3639;">Valid until 20 May 2020</div>
        </div>
        <div class="col-md-6" style="margin-top:1.6rem">
          <span class="gray">Service histrory up-to-date <img src="../assets/images/more-information.svg"
              width="15px"></span> <span class="float-right dark-gray" style="color: #5FB957 !important;">50/50 </span>

          <div class="progress mt-2">
            <div class="progress-bar bg-warning" style="width:100%"></div>
          </div>
          <span class="light-gray">0</span><span class="float-right light-gray">50 </span>
          <div style="color: #CE3639;">Valid until 20 May 2020</div>
        </div>

      </div>
      <div class="dropdown-divider mt-4"></div>

      <div class="row mt-4">
        <div class="col-md-6"> <span class="total">Total knowlege and awareness points</span></div>
        <div class="col-md-6 "><span class="total move-right">250 / 350 </span></div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6">
          <span class="gray">Online driver questionaire</span> <span class="float-right dark-gray"
            style="color:#5FB957 !important;">50/50 </span>
          <div class="progress mt-2">
            <div class="progress-bar bg-danger" style="width:100%"></div>
          </div>
          <span class="light-gray">0</span><span class="float-right light-gray">50 </span>
          <div style="color: #5FB957">Valid until 20 May 2020</div>
        </div>
        <div class="col-md-6">
          <span class="gray">Driving courses </span> <span class="float-right dark-gray">50/150 </span>
          <div class="progress mt-2">
            <div class="progress-bar bg-danger" style="width:30%"></div>
          </div>
          <span class="light-gray">0</span><span class="float-right light-gray">150 </span>
          <div style="color: #5FB957">Valid until 20 May 2020</div>
        </div>

      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <span class="gray">EyeGym <img src="../assets/images/more-information.svg" width="15px"></span> <span
            class="float-right dark-gray">50/150 </span>
          <div class="progress mt-2">
            <div class="progress-bar bg-danger" style="width:25%"></div>
          </div>
          <span class="light-gray">0</span><span class="float-right light-gray">150 </span>
          <div style="color: #5FB957">Valid until 20 May 2020</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-2 pt-5 pb-5">
  <h2 class="text-center h2-card-2">Maximise your Vitality Drive Points</h2>
  <div class="container-toolbox pl-2 pr-2 mt-5">
    <div class="card-3">
      <div class="card-header">
        <div class="row mt-4">
          <div class="col-md-6"> <span class="driving-behavioral"><img
                src="../assets/images/icon-driving-score-reward.svg" alt="score reward">
              Driving behavior
              points </span></div>
          <div class="col-md-6 go-away"><span class="driving-behavioral-score move-right mt-1"> 50 / 1 100 </span></div>
          <div class="col-md-6"><span class="driving-behavioral-score mt-1 cars px-3"> 50 / 1 100 </span></div>
        </div>
      </div>
      <div class="card-body">
        <span class="driving-profile">Driving profile <img src="../assets/images/more-information.svg" width="15px"></span>
        <span class="float-right driving-profile">300/750 </span>
        <div class="d-flex">
          <div class="p-2 go-away"><img src="../assets/images/icon-drive-target.svg"></div>
          <div class="p-2 dark-gray"> <img src="../assets/images/icon-drive-target.svg" class="cars"> Each day you will
            be
            allocated 25
            Drive
            points. Maintain your daily Drive points balance by driving well during the day by accelerating, braking
            and
            cornering smoothly, avoiding speeding and avoiding cellphone use.
            <a href="#">Harsh driving events</a> will reduce your daily 25 Drive points balance, depending on the type
            and severity of
            the
            driving event.
            At the end of every day, your remaining daily Drive points will bank towards your monthly Driving Profile,
            which is a build-up of your daily Drive points, up to 750 Vitality Drive points a month. This will
            contribute
            towards your monthly Vitality Drive points to earn up to 50% fuel cash back each month.
          </div>

        </div>
        <div class="dropdown-divider"></div>
        <span class="driving-profile">Night-time drivig <img src="../assets/images/more-information.svg"
            width="15px"></span>
        <span class="float-right driving-profile">50/100 </span>

        <div class="d-flex">
          <div class="p-2 go-away"><img src="../assets/images/icon-night-driving.svg"></div>
          <div class="p-2 dark-gray"> <img src="../assets/images/icon-night-driving.svg" class="cars"> Avoid driving at
            night
            especially between 23:00 and 04:30. During these times, there is decreased visibility, it's harder to focus
            and there are more impaired drivers on the road.
            <br><br>

            <div class="row">
              <div class="col-md-9">
                <span class="dark-gray">Rather use our Drive Me partners and get up to 25% off
                  Uber, Road Trip or Scooter Angels trips to get home safely.</span>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-primary view-drive-partners move-right">VIEW DRIVE ME
                  PARTNERS</button>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <span class="driving-profile">Distance points <img src="../assets/images/more-information.svg"
            width="15px"></span>
        <span class="float-right driving-profile">50/150 </span>

        <div class="d-flex">
          <div class="p-2 go-away"><img src="../assets/images/icon-steering-wheel.svg"></div>
          <div class="p-2 dark-gray"><img src="../assets/images/icon-steering-wheel.svg" class="cars"> We look at the
            total number
            of kilometres you drove over the past 30 days. The more time spent on the road, the higher your risk of
            being in an accident.</div>
        </div>
        <div class="dropdown-divider"></div>
        <span class="driving-profile">Claim-free years <img src="../assets/images/more-information.svg"
            width="15px"></span>
        <span class="float-right driving-profile">100/100 </span>
        <div class="d-flex">
          <div class="p-2 go-away"><img src="../assets/images/icon-car-calendar.svg"></div>
          <div class="p-2 dark-gray"><img src="../assets/images/icon-car-calendar.svg" class="cars"> You can earn up to
            100
            Vitality Drive points a month by not claiming: earn 50 Vitality Drive points for 2 claim-free years. Earn
            100 Vitality Drive points for 3 claim-free years. Vehicle glass or SOS claims <b>won't</b>  affect your claim-free
            years.
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <p class="gray" style="font-size:14px">Task completed:</p>
        <span class="dark-gray mt-3"><img src="../assets/images/Tick.svg"> Discovery insure driving app is installed. </span>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>